<div id="classTemplate" style="display:none">
			<div class=" thumbnail">
				<div class="pictureWrapper img-polaroid" style="cursor:pointer">
				<div class="classPicture">
					<img  class="classPictureImg" src="">
				</div>
				</div>
				<div class="caption">
				<div class="descBlock">
					<div style="min-height:41px" class="title" >Class Name</div>
					<div class="descText">Class Description</div>
				</div>
					<div class="instructorBlock ">
						<img class="profileImg img-rounded" src="">
						<div class="textBlock pull-right"><span style="font-weight:bold" class="teacherName"></span><br><span class="dateStamp"></span></div>
						
					</div>
					<div class="tagBlock">				
					</div>
					<div class="addTag pull-right btn btn-small"><i class="icon-tag"></i></div>
					<div class="sendTag pull-right btn btn-small" style="display:none"> <i class="icon-ok"></i></div>
					<div class="loading pull-right" style="display:none"><img class="loading" style="display:none" width="16px" height="16px" src="/public/images/ajax-loader-small.gif"> </div>
					
					<div class="tagInputBlock" style="display:none"><input name="tags" class="existingTags" class="input-medium" value="" /></div>
				</div>
		</div>
</div>