<script>
$j(document).ready(function(){
	$j('#logout').tooltip();
});
</script>
<div class="navbar mainnav">
		<div class="navbar-inner">
			<div class="logo pull-left"></div>
			<div class="navblock">
				<div class="navitem pull-right">
					<a id="logout" rel="tooltip" data-placement="bottom"
						data-original-title="Logout" href="/securitycontroller/logout"> <i class="icon-off"></i>
					</a>
				</div>
				  
				<div class="navitem pull-right">				 
					<a  href="/dashboard"><span style="color:#292526">My Dashboard</span></a>					
				</div>
				
				<div class="navitem pull-right"> 
					<a href="/browseVideo"><span style="color:#292526;">Browse Video</span></a>					
				</div>				
			</div>
		</div>
	</div>