#{include 'base/header.html' /}
</head>
<body class="login">
<div class = "container">
#{include 'base/navbar_blank.html' /}
	
	<div style="width:100%">
		<div class="well" style="width:400px;margin:auto;text-align:center">	
		<h3>Password Recovery Form</h3>
	<form id="loginForm" action ="@{UserManagement.resetPasswordRequest()}" method ="post">	
		#{ifErrors}
   			<h1>Oops...</h1>
   			#{errors}
       		<ul>
       		<li class="validateError">${error}</li>
       		</ul>
  		 #{/errors}
		#{/ifErrors}
	
		<p>
			<label for="username">Email</label>
			<input type="text" name="email" id="email" value="" />
		</p>
		<p>
			<button type="submit" class="btn" id="signin" >Submit</button>
		</p>
	</form>
	</div>
	</div>
</div>
</body>
</html>