#{include 'base/header.html' /}
</head>
<body class="login">
<div class = "container">
#{include 'base/navbar_blank.html' /}
	
	<div style="width:100%">
		<div class="well" style="width:400px;margin:auto;text-align:center">
	<h3>Reset Password</h3>
		
	<form  action ="@{UserManagement.resetPasswordComplete()}" method ="post">	
		#{ifErrors}
   			<h1>Oops...</h1>
   			#{errors}
       		<ul>
       		<li class="validateError">${error}</li>
       		</ul>
  		 #{/errors}
		#{/ifErrors}
	
		<p>
			<label for="username">Password</label>
			<input type="password" name="password" id="password" value="" />
		</p>
		
		<p>
			<label for="username">Re-enter Password</label>
			<input type="password" name="repassword" id="repassword" value="" />
		</p>
		<input type="hidden" name="userId" id="userId" value="${userId}" />
		<input type="hidden" name="recoverId" id="recoverId" value="${recoverId}" />
		<p>
			<button type="submit" class="btn" id="signin" >Submit</button>
		</p>
	</form>
	</div>
	</div>
</div>
</body>
</html>